[submodule "thirdparty"]
	path = thirdparty
	url = https://github.com/jiangnan7/llvm-project
[submodule "thirdparty/llvm-project"]
	path = thirdparty/llvm-project
	url = https://github.com/jiangnan7/llvm-project
[submodule "hardware/api-config-chipsalliance"]
	path = hardware/api-config-chipsalliance
	url = https://github.com/jiangnan7/cde
